<div class='home_div'>
  <h1 class='body_title'> WELCOME TO THE NEW ERA </h1>
  <h3 class='body_text'> We make clean, hand crafted websites for your companies needs.</h3>
  <div class='wrapper'>
    <button class='head_buttons btn btn-default'>Begin Your Journey</button>
    <button class='head_buttons btn btn-default'> See Our Work</button>
  </div>  
</div>

<div class='summary_div'>

  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> What We Do </h1>
    <p class='summary_text'> We develop innovative websites for local businesses and startups that builds your online presence, your brand, and customer satisfacton. </p>
    <button class='summary_buttons btn btn-default'> Our Purpose </button>
  </div>
  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-users fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> The Crew </h1>
    <p class='summary_text'> Humble, kind, and hardworking. We stay true to ourselves & our values, have a deep passion for coffee, and always stay ahead of the game. </p>
    <button class='summary_buttons btn btn-default'>Check Us Out</button>
  </div>
  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> Our Creations </h1>
    <p class='summary_text'> We build appealing websites for our clients. This is where we get to shine. Our creations are truly magical! Click below to check them out.  </p>
    <button class='summary_buttons btn btn-default'>View Our Work</button>
  </div>
  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-hand-peace-o fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> Hire Us </h1>
    <p class='summary_text'> Get in touch and tell us about your business. No matter how big or small, we will adapt to your needs. We are here to help you grow! </p>
    <button class='summary_buttons btn btn-default'>Drop Us an Email</button>
  </div>
</div>

<div class='who_we_are_div'>
    <h1 class='who_we_are_title'> Who Are We? </h1>
    <div class='under_border'>
    </div>
  <div class='who_we_are_img'>
    <p class='who_we_are_body'> We are a Web Development & Design Agency. The idea of starting twopeace came to us one day after having a discussion about our local community and discovered a problem. Most if not all of the businesses around do not have an online presence besides having a simple facebook page. Then we realized we were onto something great and with our skills and knowledge we would be able to resolve the issue. This is the new era and everything is now on the internet. If you want to be known worldwide, gain more customers, and grow your business you have to be on the internet. That is when we came up with a name, twopeace, and set a goal for ourselves to put our community as well as anyone who is willing to take the next step in their business on the internet. We will design, develop, and market your business website and do whatever it takes to help you expand. </p>
  </div>

  <div class='who_we_are_img'>

  </div>
</div>

<div class='what_do_we_do_div'>
  <h1 id='what_do_we_do_title'> What Do We Do? </h1>
  <div class='under_border'>
  </div>
  <div class='what_do_we_do_text_div'>
    <p class='what_do_we_do_text'>We offer high-quality design and website building
for startups and small businesses all around the world.</p>
  </div>
  <ul id='left_bullets'> 
    <li class='bullets'>DESIGN YOU A STUNNING WEBSITE</li> 
    <li class='bullets'>MARKETING & ADVERTISING</li> 
    <li class='bullets'>BUILD YOUR BRAND</li> 
  </ul>
  <ul id='right_bullets'> 
    <li class='bullets'>BRILLIANT UI/UX INTERFACE</li> 
    <li class='bullets'>ENHANCE YOUR ONLINE PRESENCE</li> 
    <li class='bullets'>E-COMMERCE WEBSITES</li> 
  </ul>
</div>

<div class='advertise'>
  <p class='advertext'> Begin your journey and help your business grow now and click here -> </p>
  <button class='advertise_button btn btn-default'>Drop Us an Email</button>
</div>

<div class='body_2'>
  <h1 id='our_mission_title'> Our Mission </h1>
  <div class='under_border'>
  </div>
  <p id='our_mission_body'> Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. </p>
</div>

