<div id='body_1'>
  <h1 class='body_title'> WELCOME TO THE NEW ERA </h1>
  <h3 class='body_text'> We make clean, hand crafted websites for your companies needs.</h3>
  <div class='wrapper'>
    <button class='head_buttons'>Begin Your Journey</button>
    <button class='head_buttons'> See Our Work</button>
  </div>  
</div>

<div id='body_2'>
  <h1 class='body_title'> What We Do </h1>
  <h3 class='body_text'>  </h3>
</div>

<div id='body_1'>
  <h1 class='body_title'> Help Your business grow </h1>
  <h3 class='body_text'>  </h3>
</div>

<div id='body_2'>
  <h1 class='body_title'> Check Out Some of Our Work </h1>
  <h3 class='body_text'>  </h3>
</div>
