<div id='body_1'>
  <h1 class='body_title'> WELCOME TO THE NEW ERA </h1>
  <h3 class='body_text'> We make clean, hand crafted websites for your companies needs.</h3>
  <div class='wrapper'>
    <button class='head_buttons'>Begin Your Journey</button>
    <button class='head_buttons'> See Our Work</button>
  </div>  
</div>

<div id='body_2'>

  <div class='sub_summary'>
    <h1 class='summary_title'> What We Do </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>Our Purpose</button>
  </div>
  <div class='sub_summary'>
    <h1 class='summary_title'> The Crew </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>Check Us Out</button>
  </div>
  <div class='sub_summary'>
    <h1 class='summary_title'> Our Work </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>View Our Creations</button>
  </div>
  <div class='sub_summary'>
    <h1 class='summary_title'> Hire Us </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>Drop Us an Email</button>
  </div>
</div>

<div id='body_1'>
  <h1> Help Your business grow </h1>
  <h3>  </h3>
</div>

<div id='body_2'>
  <h1> Check Out Some of Our Work </h1>
  <h3>  </h3>
</div>

