<div class='body_1'>
  <h1 class='body_title'> WELCOME TO THE NEW ERA </h1>
  <h3 class='body_text'> We make clean, hand crafted websites for your companies needs.</h3>
  <div class='wrapper'>
    <button class='head_buttons'>Begin Your Journey</button>
    <button class='head_buttons'> See Our Work</button>
  </div>  
</div>

<div class='body_2'>

  <div class='sub_summary'>
    <i class="fa fa-code" aria-hidden="true"></i>
    <h1 class='summary_title'> What We Do </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>Our Purpose </button>
  </div>
  <div class='sub_summary'>
    <h1 class='summary_title'> The Crew </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>Check Us Out</button>
  </div>
  <div class='sub_summary'>
    <h1 class='summary_title'> Our Creations </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>View Our Work</button>
  </div>
  <div class='sub_summary'>
    <h1 class='summary_title'> Hire Us </h1>
    <p class='summary_text'>Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1.  </p>
    <button class='summary_buttons'>Drop Us an Email</button>
  </div>
</div>

<div class='body_1'>
  <h1 class='who_we_are_title'> Who Are We? </h1>
  <p class='who_we_are_body'> Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. </p>
</div>


<div class='body_2'>
  <h1 id='what_do_we_do_title'> What Do We Do? </h1>
  <ul id='left_bullets'> 
    <li class='bullets'>1</li> 
    <li class='bullets'>2</li> 
    <li class='bullets'>3</li> 
    <li class='bullets'>4</li> 
    <li class='bullets'>5</li> 
  </ul>
  <ul id='right_bullets'> 
    <li class='bullets'>6</li> 
    <li class='bullets'>7</li> 
    <li class='bullets'>8</li> 
    <li class='bullets'>9</li> 
    <li class='bullets'>10</li> 
  </ul>
</div>

<div class='advertise'>
  <p class='advertext'> Begin your journey and help your business grow now and click here -> </p>
  <button class='advertise_button'>Drop Us an Email</button>
</div>

<div class='body_2'>
  <h1 id='our_mission_title'> Our Mission </h1>
  <p id='our_mission_body'> Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. Raw denim bespoke gochujang forage, migas neutra plaid literally ugh tacos pabst banh mi hammock lomo. Hella mustache food truck, craft beer ramps marfa fingerstache gochujang dreamcatcher shabby chic 8-bit chartreuse raw denim +1. </p>
</div>

