<div class='home_div'>
  <h1 class='body_title'> WELCOME TO THE NEW ERA </h1>
  <h3 class='body_text'> We make high quality, hand crafted websites for your companies needs.</h3>
  <div class='wrapper'>
    <a href='contacts/new'><button class='head_buttons btn btn-default'>Begin Your Journey</button></a>
    <!-- <a href='our_work'><button class='head_buttons btn btn-default'> See Our Work</button></a> -->
  </div>  
</div>

<div class='summary_div'>

  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> What We Do </h1>
    <p class='summary_text'> We develop innovative websites for small businesses and startups that builds your online presence, your brand, and customer satisfacton. </p>
    <a href='#our_mission_title'><button class='summary_buttons btn btn-default'> Our Purpose </button></a>
  </div>
  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-users fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> The Crew </h1>
    <p class='summary_text'> Humble, kind, and hardworking. We stay true to ourselves & our values, have a deep passion for coffee, and always stay ahead of the game. </p>
    <a href='our_team'><button class='summary_buttons btn btn-default'>Check Us Out</button></a>
  </div>
  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> Our Creations </h1>
    <p class='summary_text'> This is where we get to shine. We build appealing websites for our clients. Our creations are truly magical! Check them out.  </p>
    <a href='our_work'><button class='summary_buttons btn btn-default'>View Our Work</button></a>
  </div>
  <div class='sub_summary'>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-hand-peace-o fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class='summary_title'> Hire Us </h1>
    <p class='summary_text'> Get in touch and tell us about your business. No matter how big or small, we will adapt to your needs. We are here to help you grow! </p>
    <a href='contacts/new'><button class='summary_buttons btn btn-default'>Drop Us an Email</button></a>
  </div>
</div>

<div class='who_we_are_div'>
    <h1 class='who_we_are_title'> Who Are We? </h1>
    <div id='who_under_border'>
    </div>
  <div class='who_we_are_img'>
    <p class='who_we_are_body'> We are a Web Development & Design Agency. The idea of starting twopeace came to us one day after having a discussion about our local community and discovered a problem. Most, if not all of the businesses around did not have an online presence besides having a simple facebook page. Then we realized we were onto something great and with our skills and knowledge we would be able to resolve the issue. This is the new era and everything is now on the internet. If you want to be known worldwide, gain more customers, and grow your business you have to be on the internet. That is when we came up with a name, twopeace, and set a goal for ourselves to put our community as well as anyone who is willing to take the next step in their business on the internet. We will design, develop, and market your business website and do whatever it takes to help you expand. </p>
  </div>

  <div class='who_we_are_img2'>
    <img id='home_img1' src='home_img1.jpeg' />
  </div>
</div>

<div class='what_do_we_do_div'>
  <h1 id='what_do_we_do_title'> What We Do </h1>
  <div class='wwd_under_border'>
  </div>
  <div class='what_do_we_do_text_div'>
    <p class='what_do_we_do_text'>We provide your startup or small business with a </p>
    <p class='what_do_we_do_text2'>high-quality design and hand-crafted website.</p>
  </div>

  <div class='what_we_do_inner_div'>
    <h1 class='what_we_do_title'>BUILD YOUR BRAND</h1>
    <div class="what_we_do_under_border"></div>
    <p class='what_we_do_body'> One of our specializations is building a brand for your startup or business. You new brand will stick to your current customers as well as new customers. </p>
  </div>

  <div class='what_we_do_inner_div'>
    <h1 class='what_we_do_title'>MARKETING & ADVERTISING</h1>
    <div class="what_we_do_under_border"></div>
    <p class='what_we_do_body'> This is one of our strongest traits. Some things we provide your business or startup with include: building your social media, business cards with your new branding, email services, & banner ads.</p>
  </div>

  <div class='what_we_do_inner_div'>
    <h1 class='what_we_do_title'>E-COMMERCE WEBSITES</h1>
    <div class="what_we_do_under_border"></div>
    <p class='what_we_do_body'> We specialize in building an online store for your startup or business. We set you up with a website that allows you to take in profits and allow you to sell your products with ease. </p>
  </div>
</div>

<div class='advertise'>
  <p class='advertext'> What are you waiting for? Contact us now and take the next step in your business! </p>
  <button class='advertise_button btn btn-default'>Drop Us an Email</button>
</div>

<div class='our_mission_div'>
  <h1 id='our_mission_title'> Our Mission </h1>
  <div class='om_under_border'>
  </div>
    <p id='our_mission_body'> Our soul purpose is to transform non-technical communites into a well developed, fully immersive, & professional online community where everyone is connected and will be able to grow their startup or business. We are here to provide service to all startups & businesses who are in need of a helping hand to go the extra mile that will help you expand your business and keep customers coming back.   </p>
  <div class='wrapper'>
    <a href='contacts/new'><button class='our_mission_button btn btn-default'>Get Started Now</button></a>
  </div> 
</div>

