<!-- <div id='work_header'>
  <h1 id='work_title'> OUR CREATIONS </h1>
</div>

<div class='body_1'>
  <div class='projects'>
      <img class='project-img' src='chorehero.jpg'/> 
      <h2 class='project-label'> ChoreHero </h2>
  </div>    
</div>      
<div class='body_2'>
  <div class='projects'>
      <img class='project-img' src='svj.jpg'/> 
      <h2 class='project-label'> SVJ Photography </h2>
  </div>
</div>      
<div class='body_1'>
  <div class='projects'>
      <img class='project-img' src='blog.jpg'/> 
      <h2 class='project-label'> My Personal Blog </h2>
  </div>
</div>      
<div class='body_2'>
  <div class='projects'>
      <img class='project-img' src='todo.jpg'/> 
      <h2 class='project-label'> What's On Your Agenda? </h2>
   </div>
</div>       -->