<div id='crew_header'>
  <h1 id='crew_title'> THE CREW </h1>
</div>

<div id='crew_space'>
  <div id='crew_info'>
    <p id='crew_slogan'> HUMBLE, KIND, AND HARDWORKING </p>
    <div class='crew_under_border'></div>
    <p id='crew_para'>Welcome to the crew. We work hard. We code hard. And we get sh*t done.</p>
  </div>  
  <div class='profile_div'>
    <div class='profile_pics'>
      <img id='scot_pic' src='scot_prof.jpg' />
      <p id='name'> Scot Chard / Chief Technical Officer</p>
    </div>
    <div class='profile_pics'>
      <img id='justin_pic' src='justinprof.jpg' />
      <p id='name'> Justin Ote / Graphic Designer, Marketing</p>
    </div>
  </div>
</div>  
