<div id='crew_header'>
  <h1 id='crew_title'> THE CREW </h1>
</div>

<div id='crew_info'>
  <p id='crew_slogan'> COFFEE, HARD WORK, HONESTY, AND DEDICATION </p>
  <p id='x'>X-X-X</p>
  <p id='crew_para'>Welcome to the crew. We work hard. We code hard. And we get sh*t done.</p>
</div>  

<img id='scot_pic' src='scot_prof.jpg' />
<p id='name'> Scot Chard</p>
<p id='x'>X</p>
<p id='under_pic_text'>Founder</p>
