<div id='contact_div'>
  <h1 id='contact_title'> CONTACT US </h1>
</div>

<div class='body_2'>
  <h1 id='thankyou_head'> Thank You For Contacting Us!</h1>
  <p id='thankyou_body'> We will get back in touch with you soon.</p>
</div>